暂时无用
<!-- <extend name="Public/layer" />
<block name="body">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>真实姓名 </th>
                                    <th>手机号</th>
                                    <th>提现金额</th>
                                    <th>提取时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="list" id="vo">
                                    <tr>
                                        <td>11</td>
                                        <td>sdf</td>
                                        <td>123124323</td>
                                        <td>666</td>
                                        <td>2016</td>
                                        <td>
                                            <a href="{:U('BalanceLog/index')}">查看</a>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </table>
                        <include file="Public::page" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</block> -->