<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                <i class="fa fa-bars">
                </i>
            </a>
            <form action="search_results.html" class="navbar-form-custom" method="post" role="search">
                <div class="form-group">
                    <input class="form-control" id="top-search" name="top-search" placeholder="请输入您需要查找的内容 …" type="text">
                    </input>
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown hidden-xs">
                <a href="{:U('Login/logout')}" aria-expanded="false" class="right-sidebar-toggle">
                    <i class="fa fa-tasks">
                    </i>
                    退出
                </a>
            </li>
        </ul>
    </nav>
</div>